.EmpLeaves {
  margin-top: 43px;
  flex: 0.8;
  display: flex;
  justify-content: center;
  width: 100%;
}

.EmpLeaves__card {
  max-width: 100%;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background: #f8f8f8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.EmpLeaves__row {
  margin: 20px 0px;
  display: flex;
  /* justify-content: center; */
  vertical-align: middle;
}

.EmpLeaves__input {
  width: 100%;
  margin: 20px 0px;
  outline: none;
  font-size: 17px;
  padding: 9px;
  border-radius: 7px;
  border: 1px solid #d5dbd9;
  background: #f8f8f8;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.EmpLeaves__input:hover {
  border: 1px solid black;
}

.EmpLeaves__selectRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.EmpLeaves__dp {
  display: flex;
  justify-content: center;
}

.EmpLeaves__select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d5dbd9;
  width: 100%;
  color: rgb(116, 116, 116);
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  background: #f8f8f8;
  border-radius: 7px;
  padding: 8px 13px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  outline: none;
  position: relative;
  cursor: pointer;
  /* border: 0px; */
  z-index: 0;
  /* text-transform: uppercase; */
}

.EmpLeaves__selectRow:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 92%;
  border: 8px solid;
  border-color: #5078ef transparent transparent transparent;
  pointer-events: none;
  z-index: 1;
}

.EmpLeaves__btn {
  width: 100%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  font-weight: 550;
  border: 0;
  transition: 0.5s;
  cursor: pointer;
  background-size: 200% auto;
  border-radius: 10px;
  box-shadow: 0 0 20px #eee;
  background-image: linear-gradient(
    to right,
    #71d9fc 0%,
    rgb(68, 148, 253) 51%,
    #65d5fa 100%
  );
  outline: none;
}

.EmpLeaves__btn:hover {
  background-position: right center;
  text-decoration: none;
}
